
@{
    ViewData["Title"] = "Sobre";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
<p>Criando páginas web</p>
<address>
    <strong>@ViewData["Site"]</strong><a href="www.udemy.com">udemy.com</a>
</address>